.benefits {
  background-color: $color-light-grey;

  &__container {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 37px;
    padding: 105px 251px;
  }
}

.benefits__single {
  width: 1124px;
  height: 370px;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid $color-lighter-grey;
}

.benefits__text {
  padding-top: 91px;
  padding-left: 36px;

  h2 {
    font-size: 36px;
    font-family: $font-raleway;
    margin-bottom: 30px;
    letter-spacing: 0;
    color: $color-black;
  }

  p {
    font-size: 16px;
    font-family: $font-open-sans;
    color: $color-black;
    letter-spacing: 0;
    margin-bottom: 50px;
    width: 416px;
  }
}

.benefits__single--notebook {

  .benefits__image {
    position: relative;
    top: 50px;
    right: 75px;
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    width: 180px;
    height: 180px;
    background-color: $color-pink;

    :first-child{
      width: 386px;
      height: 219px;
      transform: rotate(-45deg);
      position: absolute;
      bottom: -140px;
      left: -138px;
    }
  }
}

.benefits__single--phone {
  flex-flow: row-reverse;

  .benefits__text {
    padding-left: 0;
    padding-right: 20px;
  }

  .benefits__image {
    width:320px;
    height:320px;
    border-radius: 50%;
    background-color: $color-1;
    margin-top: 12px;
    margin-left: 70px;
    position: relative;

    :first-child{
      position: absolute;
      top: 20px;
      width: 426px;
      height: 328px;
    }
  }
}

.benefits__double {
  display: flex;
  flex-flow: row;

  gap: 60px;
}

.benefits__single--solo {
  width: 623.04px;
}

.benefits__single--image {
  width: 440px;
  background-color: $color-green;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    width: 296px;
    height: 208px;
  }
}