.benefits {
  background-color: $color-light-grey;

  &__container {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 37px;
    padding: 105px 251px;

    @include s {
      padding: 42px 30px;
    }
  }
}

.benefits__single {
  width: 1124px;
  height: 370px;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid $color-lighter-grey;

  @include ms {
    width: 100vw;
  }

  @include s {
    flex-flow: column;
    width: 314px;
  }
}

.benefits__text {
  padding-top: 91px;
  padding-left: 36px;

  @include s {
    padding-top: 46.55px;
    padding-left: 22px;
  }

  h2 {
    font-size: 36px;
    font-family: $font-raleway;
    margin-bottom: 30px;
    letter-spacing: 0;
    color: $color-black;

    @include ms {
      font-size: 30px;
    }

  }

  p {
    font-size: 16px;
    font-family: $font-open-sans;
    color: $color-black;
    letter-spacing: 0;
    margin-bottom: 50px;
    width: 416px;

    @include ms {
      font-size: 14px;
      width: 272px;
      line-height: 19px;
      margin-bottom: 30px;
    }

    &:after {
      display: block;
      content: "";
      border-top: 4px solid $color-pink;
      width: 327.64px;
      margin-top: 50px;

      @include ms {
        display: none;
      }
    }
  }
}

.benefits__single--notebook {
  @include s {
    flex-flow: column-reverse;
  }

  .benefits__image {
    position: relative;
    top: 50px;
    right: 75px;
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    width: 180px;
    height: 180px;
    background-color: $color-pink;

    @include s {
      width: 90.12px;
      height: 90.12px;
      top: 20px;
      right: -175px;
    }

    :first-child {
      width: 386px;
      height: 219px;
      transform: rotate(-45deg);
      position: absolute;
      bottom: -140px;
      left: -138px;

      @include s {
        width: 192.76px;
        height: 109.93px;
        bottom: -80px;
        right: 0;
        left: -70px;
      }
    }
  }
}

.benefits__single--phone {
  flex-flow: row-reverse;

  @include s {
    flex-flow: column-reverse;
  }

  .benefits__text {
    padding-left: 0;
    padding-right: 20px;

    @include s {
      padding-left: 20px;
      padding-right: 0;
    }

    p:after {
      border-color: $color-1;
    }
  }

  .benefits__image {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: $color-1;
    margin-top: 12px;
    margin-left: 70px;
    position: relative;

    @include s {
      width: 131.88px;
      height: 131.7px;
      margin-left: 90px;
    }

    :first-child {
      position: absolute;
      top: 20px;
      width: 426px;
      height: 328px;

      @include s {
        top: 10px;
        width: 175px;
        height: 134.99px;
      }
    }
  }
}

.benefits__double {
  display: flex;
  flex-flow: row;
  gap: 60px;
  @include ms {
    gap: 10px;
    justify-content: space-between;
  }
  @include s {
    gap: 0;
    flex-flow: column;
    align-items: center;
  }
}

.benefits__single--solo {
  width: 623.04px;

  @include ms{
  width: 45vw;
  }

  @include s {
    width: 315px;
    height: 260px;

    p {
      margin: 0;
    }
  }

  p:after {
    border-color: $color-green;
  }
}

.benefits__single--image {
  width: 440px;
  background-color: $color-green;
  display: flex;
  justify-content: center;
  align-items: center;

  @include s {
    width: 314px;
    height: 195px;
    justify-content: flex-start;
    align-items: flex-start;

    img {
      margin-top: 25px;
    }
  }

  img {
    width: 296px;
    height: 208px;
  }
}