.pricing {
  margin-top: 100px;

  h2 {
    font-family: $font-raleway;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
}

.pricing__boxes {
  display: flex;
  flex-flow: row;
  gap: 59px;
  justify-content: center;
}

.pricing__box {
  width: 372px;
  height: 461px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  border-radius: 18px;
}

.pricing__details {
  margin-top: 34px;

  .pricing__type {
    font-size: 20px;
    font-family: $font-raleway;
    font-weight: bold;
    margin-bottom: 14px;
  }

  .pricing__price {
    font-size: 46px;
    font-family: $font-open-sans;
    margin-bottom: 69px;
    font-weight: 300;
  }
}

.pricing__items {
  display: flex;
  flex-flow: column;
  gap: 20px;
  font-size: 14px;
  font-family: $font-open-sans;
  letter-spacing: 0;

  .pricing__item {

    &::before {
      content: url("../assets/Checkmark-1.svg");
      width: 11px;
      height: 11px;
      margin-right: 10px;
    }

    &:last-child {
      margin-bottom: 55px;
    }
  }

  .pricing__item--not {
    &::before {
      content: url("../assets/Close.svg");
      width: 10px;
      height: 10px;
    }
  }
}

.pricing__box {
  position: relative;

  a {
    position: absolute;
    bottom: -25px;
  }

  &--basic {
    border: 1px solid $color-pink;

    .pricing__price {
      color: $color-pink;
    }
  }

  &--professional {
    zoom: 1.1;
    border: 1px solid $color-1;
    box-shadow: 5px 10px 27px $color-1-shadow;
    margin-top: -20px;

    .pricing__price {
      color: $color-1;
      margin-bottom: 5px;
    }

    .pricing__limited {
      margin-bottom: 61px;
    }

  }

  &--premium {
    border: 1px solid $color-green;

    .pricing__price {
      color: $color-green;
      margin-bottom: 5px;
    }

    .pricing__limited {
      margin-bottom: 61px;
    }
  }
}

