.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &__content {
    margin-top: 130px;
    text-align: center;

    @include s {
      margin-top: 100px;
    }
  }


  &__header {
    font-family: $font-raleway;
    font-size: 3.0625rem;
  }


  &__heading {
    margin-top: 20px;
    margin-bottom: 38px;

    @include s {
      padding: 0 70px;
    }
  }


  &__image {
    width: 100%;
    height: auto;
    @include s {
      width: 220%;
      transform: translateX(-28%);
    }
  }


  @include s {
    .btn {
      margin: 0 15px;
      padding: 16px 0;
      display: block;
    }
  }
}